<!DOCTYPE html>
<html lang="EN">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Schoolday Countdown</title>
  <link rel="stylesheet" href="/styles/style.css" />
</head>

<body>
  <main>
    <div class="left">
      <div class="cards">
        <h4>Hebrew</h4>
        <div class="square">
          <h4 id="hebrew">0</h4>
        </div>
      </div>
      <div class="cards">
        <h4>Science</h4>
        <div class="square">
          <h4 id="science">0</h4>
        </div>
      </div>
      <div class="cards">
        <h4>History</h4>
        <div class="square">
          <h4 id="history">0</h4>
        </div>
      </div>
      <div class="cards">
        <h4>Israel Ed</h4>
        <div class="square">
          <h4 id="israel_ed">0</h4>
        </div>
      </div>
      <div class="cards">
        <h4>Selah</h4>
        <div class="square">
          <h4 id="selah">0</h4>
        </div>
      </div>
    </div>
    
    <div class="middle">
      <div class="maincard">
        <h3>COUNTDOWN</h3>
        <div class="mainsquare">
          <h3 id="countdown">00:00:00</h3>
        </div>
      </div>
      
      <div class="subcard">
        <h4>SCHOOL DAYS</h4>
        <div class="subsquare">
          <h4 id="schooldays">0</h4>
        </div>
      </div>
      
      <h3 id="footer">Class of 2024</h3>
      </div>
    
    <div class="right">
    <div class="cards">
      <h4>English</h4>
      <div class="square">
        <h4 id="english">0</h4>
      </div>
    </div>
      <div class="cards">
        <h4>Math</h4>
        <div class="square">
          <h4 id="math">0</h4>
        </div>
      </div>
      <div class="cards">
        <h4>Talmud</h4>
        <div class="square">
          <h4 id="talmud">0</h4>
        </div>
      </div>
      <div class="cards">
        <h4>Chumash</h4>
        <div class="square">
          <h4 id="chumash">0</h4>
        </div>
      </div>
      <div class="cards">
        <h4>Navi</h4>
        <div class="square">
          <h4 id="navi">0</h4>
        </div>
      </div>
  </main>
  <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/script.js"></script>
</body>

</html>